*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;

   
}

body {
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 100vw;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #000;
   font-weight: 500;
   font-family: 'Merriweather Sans', sans-serif;
   background: #fff;
}

/* <------------------------------------------> */

.wrapper {
   min-height: 100%;

   display: flex;
   flex-direction: column;
   z-index: 3;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* <-----------------HEADER-------------------> */

.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
   display: flex;
   justify-content: center;
}

/* ._container {
    max-width: 1320px;
 margin: 0 auto;
   padding: 0 15px;
} */

.header__container {
   display: flex;
   min-height: 72px;
   justify-content: space-between;
   flex-basis: 70%;
   align-items: center;
 
}

.header__logo {
   width: 170px;
}

.header__logo a {
   font-size: 20px;
   font-weight: 700;
   color: #caced5;
}

.header__logo a:hover {
   color: #fff;
   transition: color linear .3s;
}

@media (max-width: 1385px) {
   ._container {
      padding: 0 70px;
   }
}

@media (max-width: 1200px) {
   ._container {
      padding: 0 150px;
   }
}

@media (max-width: 900px) {
   .header__menu {
      margin: 0 50px;
   }

   .header__logo {
      padding: 0 30px;
   }

}

.menu__list {
   display: flex;
}


.menu__item:not(:last-child) {
   margin-right: 40px;
}

.menu__link {
   font-size: 14px;
   font-weight: 700;
   color: #caced5;
}

.menu__link:hover {
   color: #f4623a;
   transition: color linear .3s ;
}

/* <-----------------PAGE-------------------> */

.page__about {
   background-color: #f4623a;
   max-height: 670px;
}

.page__download {
   padding: 120px 0 100px 0;
   background: #212529;
}


/* <-----------------MAIN-------------------> */

.main-block {
  
   position: relative;
  
}

.main-block__container {
}
.main-block__body {
   position: relative;
   z-index: 2;
   padding-top: 250px; 
   max-width: 900px;
   margin: 0 auto;
}
.main-block__title {
   font-weight: 400;
   font-size: 56px;
   color: #fff;
   text-align: center;
   padding-bottom: 30px;
   line-height: 120%;
}
@media (max-width: 1385px) {
   .main-block__body {
      max-width: 700px;
   }
   .main-block__title {
      font-size: 50px;
   }
}

@media (max-width: 1200px) {
   .main-block__title {
      font-size: 40px;
   }
}

.line {
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background: #f4623a;
}

.main-block__subtitle {
   padding-top: 30px;
   max-width: 800px;
   margin: 0 auto;
   font-size: 19px;
   text-align: center;
   color: #caced5;
   line-height: 150%;
   padding-bottom: 40px;
}

@media (max-width: 1200px) {
   .main-block__subtitle {
      max-width: 600px;
   }
}

.main-block__button {
   cursor: pointer;
   background: #f4623a;
   border-radius: 50px;
   display: flex;
   max-width: 180px;
   min-height: 60px;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   margin: 0 auto;
   text-transform: uppercase;
}
.main-block__button a {
   color: #fff;
}

.main-block__button:hover {
   background: #e43a0b;
   transition: ease-in .4s;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* <-----------------ABOUT-------------------> */

.about__body {
   padding: 300px 0;
   margin: 0 auto;
}
.about__title {
   padding-bottom: 30px;
   color: #fff;
   font-size: 30px;
   text-align: center;
}

.about__line {
   
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background: #fff;
}

.about__subtitle {
   max-width: 750px;
   padding: 20px 0;
   text-align: center;
   font-size: 16px;
   color: #d7d9db;
   margin: 0 auto;
   line-height: 150%;
   font-weight: 400;
}
.about__button {
   cursor: pointer;
   padding: 22px;
   display: flex;
   justify-content: center;
   max-width: 160px;
   border-radius: 50px;
   background: #fff;
   margin: 0 auto;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
}

.about__button:hover {
   background: #cac8c8;
   transition: ease-in-out .4s;

}

/* <-----------------SERVICE-------------------> */

.service__body {
   width: 100%;
   padding-top: 150px;
}
.service__header {
}
.service__title {
   padding-bottom: 30px;
   font-size: 30px;
   text-align: center;
}
.service__line {
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background: #f4623a;
}
.service__column {
   max-width: 1200px;
   margin: 0 auto;
   
   padding-top: 30px;
   display: flex;
   justify-content: space-around;
   height: 100%;
}
.service__item {
   padding: 0 12px;
   flex:25%;
   width: 270px;

}

@media (max-width: 1090px) {
   .service__item {
      flex:50%;
   }
   .service__column {
      flex-wrap: wrap;
   }
}

@media (max-width: 1200px) {
   
   .service__item {
      flex: 0 0 auto;
      
   }
}


svg {
   width: 45px;
   fill: #f4623a;
}

.service__icon {
   padding: 40px 0 20px;
   text-align: center;
   
}
.service__name {
   text-align: center;
   font-size: 25px;
   padding-bottom: 15px;
}
.service__text {
   text-align: center;
   color: #7d7d7d;
   font-size: 16px;
   padding-bottom: 100px;
   line-height: 150%;
}

/* <-----------------PORTFOLIO-------------------> */


.portfolio {
   display: flex;
   flex-wrap: wrap;
   
}

.portfolio__item {
   position: relative;
   flex: 33.333%;
   background: linear-gradient(to bottom, #f4623a, #e43a0b);
}

@media (max-width: 991px) {
   .portfolio__item {
      flex: 50%;
   }
}

@media (max-width: 577px) {
   .portfolio__item {
      flex: 100%;
   }
}

.portfolio__item:hover .portfolio__image {
   
   opacity: .1;
}

.portfolio__item:hover .portfolio__info {
   opacity: 1;
}

.portfolio__image {
   display: block;
   transition: opacity .2s linear;
   max-width: 100%;
}


.portfolio__info {
   width: 100%;
   position: absolute;
   top: 50%;
   left: 0;
   z-index: 1;
   transform: translate3d(0, -50%, 0);
   text-align: center;
   opacity: 0;
   transition: opacity .2s linear;
}

.portfolio___title {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   color: #caced5;
   padding-bottom: 10px;
}

.potfolio__subtitle {
   font-size: 19px;
   color: #fff;
}

/* <-----------------DOWNLOAD-------------------> */

.dowload__title {
   font-size: 30px;
   text-align: center;
   color: #fff;
   padding-bottom: 25px;
}
.download__button {
   cursor: pointer;
   padding: 22px;
   display: flex;
   justify-content: center;
   max-width: 160px;
   border-radius: 50px;
   background: #fff;
   margin: 0 auto;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   color: #000;
}

.download__button:hover {
   background: #cac8c8;
   transition: ease-in-out .4s;

}

/* <-----------------CONTACTS-------------------> */

.contacts__container {
   padding: 100px 0 60px 0;
}

.contacts__body {

}

.contacts__title {
   font-size: 30px;
   padding-bottom: 25px;
   text-align: center;
   
}
.contacts__line {
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background: #f4623a;
}
   
.contacts__text {
   max-width: 680px;
   margin: 0 auto;
   font-size: 19px;
   padding-top: 25px;
   text-align: center;
   color: #7d7d7d
}

/* <-----------------INPUT-------------------> */

.input__name {
   margin: 0 auto;
   padding-bottom: 20px;
   max-width: 620px;  
   font-family: Verdana, sans-serif;
   position: relative;
}

 
 .input__name input {
   display: block;
   outline: none;
   width: 100%;
   background: #fff;
   border: 2px solid #fcc;
   padding: 15px;
   font-size: 20px;
   font-family: inherit;
   cursor: pointer;
   border-radius: 5px;
 }
 
 .input__name label {
   cursor: pointer;
   display: block;
   position: absolute;
   left: 15px;
   top: 18px;
   color: #000;
   font-size: 20px;
   -webkit-transition: .2s;
   transition: .2s;
 }

.input__name input:valid + label,
.input__name input:focus + label,
.input__name input:valid + label,
.input__name textarea:focus + label{
  top: 2px;
  font-size: 13px;
}

.input__name textarea {
   display: block;
   outline: none;
   width: 100%;
   background: #fff;
   border: 2px solid #fcc;
   padding: 15px;
   font-size: 20px;
   font-family: inherit;
   cursor: pointer;
   border-radius: 5px;
 }

 .submit__button {
   cursor: pointer;
   padding: 25px;
   display: flex;
   justify-content: center;
   max-width: 600px;
   border-radius: 50px;
   background: #f4623a;
   margin: 0 auto;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 14px;
   
 }

 .submit__button a {
   color: #fff;
 }

 .submit__button:hover {
   background: #e43a0b;
   transition: ease-in .4s;
}

/* <-----------------PHONE-------------------> */

.phone {
   max-width: 200px;
   margin: 0 auto;
   padding-top: 50px;
}
.phone__logo {
   text-align: center;
   padding-bottom: 10px;
}

.phone__logo svg {
   fill: #7d7d7d;
   width: 26px;
}
.phone__number {
   text-align: center;
   padding-bottom: 100px;
}

/* <-----------------FOOTER-------------------> */

.footer {
   padding: 50px 0;
   background: #f3f5f7;
   text-align: center;
   color: #7d7d7d;
}

@media (max-width:902px) {
   .wrapper {width: 902px;
      z-index: 3;
      position: relative;
   }

   .main-block {
      width: 902px;
   }
   
}

@media screen and (min-width:1090px) and (max-width:1200px) {
   .wrapper {
      width:1090px;
   }
}